mpmath==1.3.0
sympy==1.12
zipp==3.18.1
importlib_metadata==7.1.0
gym-notices==0.0.8
cloudpickle==3.0.0
gym==0.26.2
nvidia-nvjitlink-cu12==12.4.127
nvidia-cusparse-cu12==12.1.0.106
nvidia-cublas-cu12==12.1.3.1
MarkupSafe==2.1.5
filelock==3.13.4
typing_extensions==4.11.0
triton==3.0.0
nvidia-nvtx-cu12==12.1.105
nvidia-nccl-cu12==2.20.5
nvidia-cusolver-cu12==11.4.5.107
nvidia-curand-cu12==10.3.2.106
nvidia-cufft-cu12==11.0.2.54
nvidia-cudnn-cu12==9.1.0.70
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-cupti-cu12==12.1.105
networkx==3.2.1
Jinja2==3.1.3
fsspec==2024.3.1
torch==2.4.0
jiter==0.5.0
threadpoolctl==3.4.0
joblib==1.4.0
scikit-learn==1.4.2
pytz==2024.1
tzdata==2024.1
python-dateutil==2.9.0.post0
numpy==1.26.4
pandas==2.2.2
scikit-learn-extra==0.3.0
termcolor==2.4.0
regex==2024.4.28
pycryptodomex==3.20.0
lxml==4.9.4
charset-normalizer==3.3.2
certifi==2024.2.2
requests==2.32.3
fire==0.6.0
blobfile==2.1.1
ninja==1.11.1.1
fairscale==0.4.13
torch4keras==0.2.4
sentencepiece==0.2.0
codellama==0.0.1
wcwidth==0.2.13
pure-eval==0.2.2
ptyprocess==0.7.0
traitlets==5.14.3
tornado==6.4
pyzmq==26.0.3
Pygments==2.18.0
psutil==5.9.8
prompt-toolkit==3.0.43
platformdirs==4.2.2
pexpect==4.8.0
parso==0.8.4
nest-asyncio==1.6.0
executing==2.0.1
exceptiongroup==1.2.1
decorator==5.1.1
debugpy==1.8.1
asttokens==2.4.1
stack-data==0.6.3
matplotlib-inline==0.1.7
jupyter_core==5.7.2
jedi==0.19.1
comm==0.2.2
jupyter_client==8.6.1
ipython==8.18.1
ipykernel==6.29.4
pdfrw==0.4
aniso8601==9.0.1
Werkzeug==2.3.7
urllib3==1.26.20
tzlocal==5.2
tqdm==4.66.4
tenacity==8.3.0
sniffio==1.3.1
schedule==1.2.0
rpds-py==0.18.1
python-dotenv==1.0.0
PyPDF2==3.0.1
pyparsing==3.1.0
pydantic_core==2.16.2
protobuf==4.25.3
portalocker==2.8.2
packaging==23.2
orjson==3.10.3
mypy-extensions==1.0.0
multidict==6.0.5
jsonpointer==2.4
itsdangerous==2.2.0
hyperframe==6.0.1
httpx-sse==0.4.0
hpack==4.0.0
h11==0.14.0
grpcio==1.63.0
greenlet==3.0.3
frozenlist==1.4.1
distro==1.9.0
click==8.1.7
blinker==1.8.2
attrs==23.2.0
async-timeout==4.0.3
annotated-types==0.6.0
yarl==1.9.4
typing-inspect==0.9.0
SQLAlchemy==2.0.30
referencing==0.35.1
pydantic==2.6.1
marshmallow==3.21.2
jsonpatch==1.33
httpcore==1.0.5
h2==4.1.0
gunicorn==21.2.0
grpcio-tools==1.63.0
Flask==2.3.3
deprecation==2.1.0
APScheduler==3.10.3
anyio==4.3.0
aiosignal==1.3.1
pikepdf==8.3.2
langsmith==0.1.59
jsonschema-specifications==2023.12.1
bert4torch==0.5.1
torchvision==0.19.0
httpx==0.27.0
Flask-RESTful==0.3.10
Flask-HTTPAuth==4.8.0
Flask-Cors==4.0.0
dataclasses-json==0.6.6
aiohttp==3.9.5
tokenizers==0.19.1
openai==1.40.1
jsonschema==4.21.1
qdrant-client==1.6.9
langchain-openai==0.0.6
langchain-mistralai==0.1.5
torchaudio==2.3.1
flask-restx==1.1.0
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQt5==5.15.10
pydub==0.25.1
py-cpuinfo==9.0.0
lit==18.1.6
flatbuffers==24.3.25
ffmpy==0.3.2
wheel==0.43.0
websockets==11.0.3
uvloop==0.19.0
uvicorn==0.30.1
ujson==5.10.0
toolz==0.12.1
tomlkit==0.12.0
shellingham==1.5.4
semantic-version==2.10.0
scipy==1.13.0
safetensors==0.4.3
ruff==0.4.7
PyYAML==6.0.1
python-multipart==0.0.9
opencv-python==4.9.0.80
onnx==1.14.0
nvidia-nccl-cu11==2.14.3
nvidia-cufft-cu11==10.9.0.58
nvidia-cuda-nvrtc-cu11==11.7.99
mdurl==0.1.2
importlib_resources==6.4.0
humanfriendly==10.0
httptools==0.6.1
dnspython==2.6.1
cmake==3.29.3
aiofiles==23.2.1
watchfiles==0.22.0
starlette==0.37.2
nvidia-nvtx-cu11==11.7.91
nvidia-cusparse-cu11==11.7.4.91
nvidia-curand-cu11==10.2.10.91
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cublas-cu11==11.10.3.66
markdown-it-py==3.0.0
email_validator==2.1.1
coloredlogs==15.0.1
rich==13.7.1
pycocotools==2.0.7
onnxruntime-gpu==1.18.0
onnxruntime==1.15.1
nvidia-cusolver-cu11==11.4.0.1
nvidia-cudnn-cu11==8.5.0.96
typer==0.12.3
onnxsim==0.4.36
gradio_client==0.16.4
altair==5.3.0
fastapi-cli==0.0.4
fastapi==0.111.0
gradio==4.31.5
pytorch-triton-rocm==2.3.1
einops==0.8.0
jieba==0.42.1
namex==0.0.8
libclang==18.1.1
wrapt==1.16.0
tensorflow-io-gcs-filesystem==0.37.0
tensorboard-data-server==0.7.2
optree==0.11.0
google-pasta==0.2.0
gast==0.5.4
astunparse==1.6.3
absl-py==2.1.0
opt-einsum==3.3.0
ml-dtypes==0.3.2
Markdown==3.6
h5py==3.11.0
tensorboard==2.16.2
keras==3.3.3
xxhash==3.4.1
shtab==1.7.1
rouge-chinese==1.0.3
pyarrow-hotfix==0.6
pyarrow==16.1.0
nltk==3.8.1
fonttools==4.53.0
eval_type_backport==0.2.0
docstring_parser==0.16
dill==0.3.8
contourpy==1.2.1
tiktoken==0.7.0
multiprocess==0.70.16
matplotlib==3.9.0
huggingface-hub==0.23.4
tyro==0.8.5
sse-starlette==2.1.2
transformers==4.42.0
datasets==2.20.0
accelerate==0.31.0
trl==0.9.4
peft==0.11.1
llamafactory==0.8.4.dev0
bitsandbytes==0.39.0
fastjsonschema==2.20.0
dash-table==5.0.0
dash-html-components==2.0.0
dash-core-components==2.0.0
addict==2.4.0
widgetsnbextension==4.0.11
retrying==1.3.4
pyquaternion==0.9.9
plotly==5.23.0
jupyterlab_widgets==3.0.11
idna==3.7
ConfigArgParse==1.7
dash==2.17.1
nbformat==5.10.4
ipywidgets==8.1.3
open3d==0.18.0
simple_parsing==0.1.5
xformers==0.0.24
mistral_common==1.3.3
pip==24.2
soupsieve==2.6
PyJWT==2.8.0
pycryptodome==3.20.0
primp==0.6.0
json5==0.9.25
future==1.0.0
diskcache==5.6.3
colorlog==6.8.2
cachetools==5.4.0
aiolimiter==1.1.0
tencentcloud-sdk-python==3.0.1213
duckduckgo_search==6.2.9
beautifulsoup4==4.12.3
bce-python-sdk==0.9.19
zhipuai==2.1.4.20230814
qianfan==0.4.6
erniebot==0.5.9
Agently==3.3.4.4
Farama-Notifications==0.0.4
gymnasium==0.29.1
seaborn==0.13.2
imageio==2.35.1
aimrocks==0.5.2
aim-ui==3.24.0
RestrictedPython==7.2
pycparser==2.22
Mako==1.3.5
jmespath==1.0.1
base58==2.0.1
cffi==1.17.1
botocore==1.35.24
alembic==1.13.2
aimrecords==0.0.7
s3transfer==0.10.2
cryptography==43.0.1
boto3==1.35.24
aim==3.24.0
pygame==2.6.0
optuna==4.0.0
smmap==5.0.1
setproctitle==1.3.3
sentry-sdk==2.14.0
docker-pycreds==0.4.0
gitdb==4.0.11
GitPython==3.1.43
wandb==0.18.1
ale-py==0.8.1
Shimmy==0.2.1
AutoROM.accept-rom-license==0.6.1
AutoROM==0.4.2
stable_baselines3==2.3.2
llamafactory==0.8.4.dev0
dbus-python==1.2.18
PyGObject==3.40.1
systemd-python==234
libcomps==0.1.18
pcp==5.0
gpg==1.15.1
rpm==4.16.1.3
lxml==4.6.5
matplotlib==3.4.3
perf==0.1
kiwisolver==1.4.1
numpy==1.20.1
Brlapi==0.8.2
pycairo==1.20.1
Pillow==10.0.1
scipy==1.6.2
PyYAML==5.4.1
selinux==3.6
setools==4.4.4
six==1.15.0
python-dateutil==2.8.1
setuptools==53.0.0
distro==1.5.0
pyudev==0.22.0
python-linux-procfs==0.7.3
sepolicy==3.6
nftables==0.1
vboxapi==1.0
pyparsing==2.4.7
meson==0.63.3
SCons==4.5.2
packaging==20.9
pip==21.2.3
olefile==0.46
cycler==0.11.0
scour==0.38.1
appdirs==1.4.4
Pmw==2.1.1
